<template>
  <div id="body">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <!-- Page header -->
    <div class="page-header">
      <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
          <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> - Dashboard</h4>
          <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements d-none py-0 mb-3 mb-md-0">
          <div class="breadcrumb">
            <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
            <span class="breadcrumb-item active">Dashboard</span>
          </div>
        </div>
      </div>
    </div>
    <!-- /page header -->
    <!-- Page content -->
    <div class="page-content pt-0">

      <!-- Main content -->
      <div class="content-wrapper">

        <!-- Content area -->
        <div class="content">

        </div>
        <!-- /content area -->

      </div>
      <!-- /main content -->

    </div>
    <!-- /page content -->
    <app-footer></app-footer>
  </div>
</template>
<script>
import sidebar from "~/components/layouts/sidebar";
import header from "~/components/layouts/header";
import footer from "~/components/layouts/footer";
export default {
      components:{
          'app-header':header,
          'app-sidebar':sidebar,
          'app-footer':footer
      }
}
</script>
