<template>
  <v-app >
    <div class="row bg-slate-800 justify-content-md-center">
      <div class="col-lg-3 p-lg-0 p-md-0  p-5 mt-5 align-middle" style="padding-top:4.5rem !important; ">
        <form @submit="submit">
          <div class="card mb-2  pt-5">
            <div class="card-body pt-5">
              <div class="text-center mb-5">
                <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-3"></i>
                <h5 class="mb-0 text-black-50 mt-3" >Login to your account</h5>
                <span class="d-block text-muted">Enter your credentials below</span>
              </div>

              <div class="form-group form-group-feedback form-group-feedback-left">
                <input type="text" class="form-control" placeholder="Username" v-model="auth.username">
                <div class="form-control-feedback">
                  <i class="icon-user text-muted"></i>
                </div>
              </div>

              <div class="form-group form-group-feedback form-group-feedback-left">
                <input type="password" class="form-control" placeholder="Password" v-model="auth.password">
                <div class="form-control-feedback">
                  <i class="icon-lock2 text-muted"></i>
                </div>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Sign in <i class="icon-circle-right2 ml-2"></i></button>
              </div>

              <div class="text-center">
                <a href="login_password_recover.html">Forgot password?</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </v-app>
</template>
<script>
export default {
  data: () => ({
    auth:{
      username: null,
      password:null,
    },
    valid: true,
  }),

  methods: {
    async submit() {
      // try {
      //   // let response = await this.$auth.loginWith('local', { data: this.login })
      //   console.log(auth)
      // } catch (err) {
      //   console.log(err)
      // }
    }
  },
}
</script>
