<template>

  <!-- Secondary navbar -->
  <div class="navbar navbar-expand-md navbar-light">
    <div class="text-center d-md-none w-100">
      <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-navigation">
        <i class="icon-unfold mr-2"></i>
        Navigation
      </button>
    </div>

    <div class="navbar-collapse collapse" id="navbar-navigation">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="index.html" class="navbar-nav-link active">
            <i class="icon-home4 mr-2"></i>
            Dashboard
          </a>
        </li>

        <li class="nav-item dropdown">
          <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
            <i class="icon-strategy mr-2"></i>
            Starter kit
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-header">Basic layouts</div>
            <div class="dropdown-submenu">
              <a href="#" class="dropdown-item dropdown-toggle"><i class="icon-grid2"></i> Sidebars</a>
              <div class="dropdown-menu">
                <a href="../seed/sidebar_none.html" class="dropdown-item">No sidebar</a>
                <a href="../seed/sidebar_main.html" class="dropdown-item">1 sidebar</a>
                <div class="dropdown-submenu">
                  <a href="#" class="dropdown-item dropdown-toggle">2 sidebars</a>
                  <div class="dropdown-menu">
                    <a href="../seed/sidebar_secondary.html" class="dropdown-item">Secondary sidebar</a>
                    <a href="../seed/sidebar_right.html" class="dropdown-item">Right sidebar</a>
                  </div>
                </div>
                <div class="dropdown-submenu">
                  <a href="#" class="dropdown-item dropdown-toggle">3 sidebars</a>
                  <div class="dropdown-menu">
                    <a href="../seed/sidebar_right_hidden.html" class="dropdown-item">Right sidebar hidden</a>
                    <a href="../seed/sidebar_right_visible.html" class="dropdown-item">Right sidebar visible</a>
                  </div>
                </div>
                <a href="../seed/sidebar_sections.html" class="dropdown-item">Sectioned sidebar</a>
                <a href="../seed/sidebar_stretched.html" class="dropdown-item">Stretched sidebar</a>
              </div>
            </div>
            <div class="dropdown-submenu">
              <a href="#" class="dropdown-item dropdown-toggle"><i class="icon-paragraph-justify3"></i> Navbars</a>
              <div class="dropdown-menu">
                <a href="../seed/navbar_main_fixed.html" class="dropdown-item">Main navbar fixed</a>
                <a href="../seed/navbar_main_hideable.html" class="dropdown-item">Main navbar hideable</a>
                <a href="../seed/navbar_secondary_sticky.html" class="dropdown-item">Secondary navbar sticky</a>
                <a href="../seed/navbar_both_fixed.html" class="dropdown-item">Both navbars fixed</a>
              </div>
            </div>
            <div class="dropdown-header">Optional layouts</div>
            <a href="../seed/layout_boxed.html" class="dropdown-item"><i class="icon-align-center-horizontal"></i> Boxed layout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- /secondary navbar -->

</template>

<script>
    export default {
    }
</script>

<style scoped>

</style>
